# Find Tokyo Metro Lines and Coordinates

In [1]:
import pandas as pd
import numpy as np

In [6]:
import json

In [4]:
df_train_data = pd.read_json('../_data/raw-data.json')

In [23]:
list_train_lines_tokyo = df_train_data.iloc[12]['lines']

In [38]:
filter_tokyo_subway = np.array(list(map(lambda x: ('Toei' in x['name']['en']) or ('Metro' in x['name']['en']), list_train_lines_tokyo)))

In [41]:
list_subway_lines_tokyo = list(np.array(list_train_lines_tokyo)[filter_tokyo_subway])

### Setup data storage object

In [47]:
import pickle

In [48]:
dict_subways = {}

In [46]:
list_subway_lines_tokyo[0]['name']['en']

'Tokyo Metro Ginza Line'

In [57]:
dict_subway_data = {}
for line in list_subway_lines_tokyo:
    name = line['name']['en']
    stations = line['stations']
    list_data = []
    for station in stations:
        list_data.append({'id': station['id'], 'name': station['name']['en'],
                          'latitude': station['location']['lat'], 'longitude': station['location']['lng']})
    dict_subway_data[name] = list_data

In [65]:
for line in dict_subway_data:
    dict_subway_data[line] = pd.DataFrame(dict_subway_data[line])

In [69]:
list(dict_subway_data.keys())

['Tokyo Metro Ginza Line',
 'Tokyo Metro Marunouchi Line',
 'Tokyo Metro Hibiya Line',
 'Tokyo Metro Tozai Line',
 'Tokyo Metro Chiyoda Line',
 'Tokyo Metro Yurakucho Line',
 'Tokyo Metro Hanzomon Line',
 'Tokyo Metro Namboku Line',
 'Tokyo Metro Fukutoshin Line',
 'Toei Oedo Line',
 'Toei Asakusa Line',
 'Toei Mita Line',
 'Toei Shinjuku Line']

In [71]:
dict_subway_data['Tokyo Metro Ginza Line']

         id   latitude   longitude               name
0   2800101  35.710733  139.797592            Asakusa
1   2800102  35.709897  139.790897         Tahara-cho
2   2800103  35.711273  139.782593           Inaricho
3   2800104  35.711482  139.777122               Ueno
4   2800105  35.707680  139.772877      Ueno Hirokoji
5   2800106  35.702972  139.771713        Suehiro cho
6   2800107  35.693587  139.770899              Kanda
7   2800108  35.687101  139.773594  Before Mitsukoshi
8   2800109  35.682078  139.773516         Nihonbashi
9   2800110  35.676856  139.770126           Kyobashi
10  2800111  35.671989  139.763965              Ginza
11  2800112  35.667434  139.758432          Shimbashi
12  2800113  35.670236  139.749832          Toranomon
13  2800114  35.673621  139.741419        Tameike San
14  2800115  35.677021  139.737047    Akasaka Mitsuke
15  2800116  35.672765  139.724159     Aoyama 1-chome
16  2800117  35.670527  139.717857     Gaienmae front
17  2800118  35.665247  139.712314         Omotesando
18  2800119  35.659066  139.701000            Shibuya