## GeoJSON conversion

In [1]:
import pandas as pd

In [7]:
import json

In [2]:
df_merged = pd.read_csv('../_data/df_subway_merged.csv')
df_merged['localTimestamp'] = pd.to_datetime(df_merged['localTimestamp'])

In [26]:
df_merged_small = df_merged[['latitude', 'longitude', 'localTimestamp', 'line_name', 'name']]

In [27]:
df_merged_small['line_name'].unique()

array(['Toei Mita Line', 'Tokyo Metro Yurakucho Line',
       'Tokyo Metro Marunouchi Line', 'Tokyo Metro Tozai Line',
       'Tokyo Metro Hanzomon Line', 'Toei Shinjuku Line',
       'Tokyo Metro Hibiya Line', 'Tokyo Metro Chiyoda Line',
       'Toei Oedo Line', 'Tokyo Metro Ginza Line', 'Toei Asakusa Line',
       'Tokyo Metro Namboku Line', 'Tokyo Metro Fukutoshin Line'], dtype=object)

### Color mapping

In [28]:
line_colors = {'Toei Mita Line': '#0080c6', 'Tokyo Metro Yurakucho Line': '#bb8b38', 
               'Tokyo Metro Marunouchi Line': '#ed1c24', 'Tokyo Metro Tozai Line': '#00b2dd',
               'Tokyo Metro Hanzomon Line': '#937cb9', 'Toei Shinjuku Line': '#6dc067',
               'Tokyo Metro Hibiya Line': '#8ba2ae', 'Tokyo Metro Chiyoda Line': '#00a650',
               'Toei Oedo Line': '#b51e82', 'Tokyo Metro Ginza Line': '#f7931d', 
               'Toei Asakusa Line': '#ef5ba1', 'Tokyo Metro Namboku Line': '#00b5ad', 
               'Tokyo Metro Fukutoshin Line': '#ba6831'}

In [29]:
df_merged_small['line_color'] = df_merged_small['line_name'].apply(lambda x: line_colors[x])

/Users/michael/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [30]:
df_merged_small.head()

,latitude,longitude,localTimestamp,line_name,name,line_color
0,35.749,139.72,2012-04-04 02:59:52,Toei Mita Line,Shinbashi,#0080c6
1,35.730,139.71,2012-04-04 03:52:17,Tokyo Metro Yurakucho Line,Ikebukuro,#bb8b38
2,35.730,139.71,2012-04-04 03:52:17,Tokyo Metro Marunouchi Line,Ikebukuro,#ed1c24
3,35.689,139.71,2012-04-04 03:56:43,Tokyo Metro Marunouchi Line,Shinjuku Gyoenmae front,#ed1c24
4,35.670,139.82,2012-04-04 04:06:34,Tokyo Metro Tozai Line,Toyocho,#00b2dd

### Pick dates to save

In [31]:
df_merged_small['date_day'] = df_merged_small['localTimestamp'].apply(lambda x: x.day)
df_merged_small['date_month'] = df_merged_small['localTimestamp'].apply(lambda x: x.month)

/Users/michael/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.
/Users/michael/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [32]:
df_test = df_merged_small[(df_merged_small['date_day'] == 4) & (df_merged_small['date_month'] == 4)]

In [33]:
df_test.head()

,latitude,longitude,localTimestamp,line_name,name,line_color,date_day,date_month
0,35.749,139.72,2012-04-04 02:59:52,Toei Mita Line,Shinbashi,#0080c6,4,4
1,35.730,139.71,2012-04-04 03:52:17,Tokyo Metro Yurakucho Line,Ikebukuro,#bb8b38,4,4
2,35.730,139.71,2012-04-04 03:52:17,Tokyo Metro Marunouchi Line,Ikebukuro,#ed1c24,4,4
3,35.689,139.71,2012-04-04 03:56:43,Tokyo Metro Marunouchi Line,Shinjuku Gyoenmae front,#ed1c24,4,4
4,35.670,139.82,2012-04-04 04:06:34,Tokyo Metro Tozai Line,Toyocho,#00b2dd,4,4

### Geojson

In [34]:
def timestamp_to_json(obj):
    if isinstance(obj, pd.datetime):
        return obj.__str__()
    
def row_to_geojson(row, json_list=[]):
    dict = {"type": "Feature",
            "geometry": {
                "type": "Point",
                "coordinates": [row['longitude'], row['latitude']]
            },
            "properties": {
                "local_time": row['localTimestamp'],
                "line_color": row['line_color'],
            }}
    json_list.append(dict)

In [41]:
json_test = {'type': 'FeatureCollection', 'features': []}
df_test.apply(lambda x: row_to_geojson(x, json_list=json_test['features']), axis=1)

0      None
1      None
2      None
3      None
4      None
5      None
6      None
7      None
8      None
9      None
10     None
11     None
12     None
13     None
14     None
15     None
16     None
17     None
18     None
19     None
20     None
21     None
22     None
23     None
24     None
25     None
26     None
27     None
28     None
29     None
       ...
394    None
395    None
396    None
397    None
398    None
399    None
400    None
401    None
402    None
403    None
404    None
405    None
406    None
407    None
408    None
409    None
410    None
411    None
412    None
413    None
414    None
415    None
416    None
417    None
418    None
419    None
420    None
421    None
422    None
423    None
Length: 424, dtype: object

In [43]:
with open('../_data/data_all-04-04-2012.json', 'w') as f:
    json.dump(json_test, f, default=timestamp_to_json)

In [40]:
df_merged_small[df_merged_small['date_day'] == 4]

,latitude,longitude,localTimestamp,line_name,name,line_color,date_day,date_month
0,35.749,139.72,2012-04-04 02:59:52,Toei Mita Line,Shinbashi,#0080c6,4,4
1,35.730,139.71,2012-04-04 03:52:17,Tokyo Metro Yurakucho Line,Ikebukuro,#bb8b38,4,4
2,35.730,139.71,2012-04-04 03:52:17,Tokyo Metro Marunouchi Line,Ikebukuro,#ed1c24,4,4
3,35.689,139.71,2012-04-04 03:56:43,Tokyo Metro Marunouchi Line,Shinjuku Gyoenmae front,#ed1c24,4,4
4,35.670,139.82,2012-04-04 04:06:34,Tokyo Metro Tozai Line,Toyocho,#00b2dd,4,4
5,35.665,139.86,2012-04-04 04:06:57,Tokyo Metro Tozai Line,Nishikasai,#00b2dd,4,4
6,35.676,139.76,2012-04-04 04:12:01,Tokyo Metro Yurakucho Line,Yurakucho,#bb8b38,4,4
7,35.676,139.76,2012-04-04 04:12:01,Toei Mita Line,Hibiya,#0080c6,4,4
8,35.696,139.75,2012-04-04 04:21:13,Tokyo Metro Tozai Line,Kudanshita,#00b2dd,4,4
9,35.696,139.75,2012-04-04 04:21:13,Tokyo Metro Hanzomon Line,Kudanshita,#937cb9,4,4
10,35.696,139.75,2012-04-04 04:21:13,Toei Shinjuku Line,Kudanshita,#6dc067,4,4
11,35.685,139.77,2012-04-04 04:21:30,Tokyo Metro Tozai Line,Otemachi,#00b2dd,4,4
12,35.685,139.77,2012-04-04 04:21:30,Tokyo Metro Hanzomon Line,Before Mitsukoshi,#937cb9,4,4
13,35.792,139.65,2012-04-04 04:23:00,Toei Mita Line,Nishi Takashimairaira,#0080c6,4,4
14,35.726,139.73,2012-04-04 04:25:09,Tokyo Metro Marunouchi Line,Shin-Otsuka,#ed1c24,4,4
15,35.664,139.87,2012-04-04 04:29:46,Tokyo Metro Tozai Line,Kasai,#00b2dd,4,4
16,35.701,139.76,2012-04-04 04:35:47,Tokyo Metro Marunouchi Line,Ochanomizu,#ed1c24,4,4
17,35.698,139.78,2012-04-04 04:37:25,Tokyo Metro Hibiya Line,Akihabara,#8ba2ae,4,4
18,35.686,139.76,2012-04-04 04:37:30,Tokyo Metro Chiyoda Line,Otemachi,#00a650,4,4
19,35.698,139.65,2012-04-04 04:37:35,Tokyo Metro Marunouchi Line,Shin Koenji,#ed1c24,4,4
20,35.691,139.71,2012-04-04 04:44:43,Toei Shinjuku Line,Shinjuku 3-chome,#6dc067,4,4
21,35.726,139.72,2012-04-04 04:45:17,Tokyo Metro Yurakucho Line,Higashi Ikebukuro,#bb8b38,4,4
22,35.673,139.72,2012-04-04 04:47:11,Toei Oedo Line,Aoyama 1-chome,#b51e82,4,4
23,35.673,139.72,2012-04-04 04:47:11,Tokyo Metro Ginza Line,Aoyama 1-chome,#f7931d,4,4
24,35.673,139.72,2012-04-04 04:47:11,Tokyo Metro Hanzomon Line,Aoyama 1-chome,#937cb9,4,4
25,35.677,139.74,2012-04-04 04:47:13,Tokyo Metro Ginza Line,Akasaka Mitsuke,#f7931d,4,4
26,35.677,139.74,2012-04-04 04:47:13,Tokyo Metro Marunouchi Line,Akasaka Mitsuke,#ed1c24,4,4
27,35.792,139.65,2012-04-04 04:51:43,Toei Mita Line,Nishi Takashimairaira,#0080c6,4,4
28,35.672,139.80,2012-04-04 04:51:59,Toei Oedo Line,Monzenkakarycho,#b51e82,4,4
29,35.672,139.80,2012-04-04 04:51:59,Tokyo Metro Tozai Line,Monzenkakarycho,#00b2dd,4,4
...,...,...,...,...,...,...,...,...
44921,35.749,139.72,2013-02-04 17:39:43,Toei Mita Line,Shinbashi,#0080c6,4,2
44922,35.680,139.78,2013-02-04 17:41:51,Tokyo Metro Hibiya Line,Kayabacho,#8ba2ae,4,2
44923,35.680,139.78,2013-02-04 17:41:51,Tokyo Metro Tozai Line,Kayabacho,#00b2dd,4,2
44924,35.687,139.77,2013-02-04 17:51:35,Tokyo Metro Marunouchi Line,Otemachi,#ed1c24,4,2
44925,35.687,139.77,2013-02-04 17:51:35,Tokyo Metro Ginza Line,Before Mitsukoshi,#f7931d,4,2
44926,35.659,139.78,2013-02-04 17:57:24,Toei Oedo Line,Kachidoki,#b51e82,4,2
44927,35.708,139.77,2013-02-04 18:09:07,Tokyo Metro Ginza Line,Ueno Hirokoji,#f7931d,4,2
44928,35.708,139.77,2013-02-04 18:09:07,Toei Oedo Line,Ueno Okachimachi,#b51e82,4,2
44929,35.708,139.77,2013-02-04 18:09:07,Tokyo Metro Chiyoda Line,Yushima,#00a650,4,2
44930,35.674,139.77,2013-02-04 18:12:20,Tokyo Metro Yurakucho Line,Ginza 1-chome,#bb8b38,4,2
44931,35.692,139.78,2013-02-04 18:15:15,Toei Asakusa Line,East Japan Bridge,#ef5ba1,4,2
44932,35.692,139.78,2013-02-04 18:15:15,Toei Shinjuku Line,Maki Yokoyama,#6dc067,4,2
44933,35.692,139.78,2013-02-04 18:15:36,Toei Asakusa Line,East Japan Bridge,#ef5ba1,4,2
44934,35.692,139.78,2013-02-04 18:15:36,Toei Shinjuku Line,Maki Yokoyama,#6dc067,4,2
44935,35.698,139.65,2013-02-04 18:19:43,Tokyo Metro Marunouchi Line,Shin Koenji,#ed1c24,4,2
44936,35.665,139.71,2013-02-04 18:23:24,Tokyo Metro Hanzomon Line,Omotesando,#937cb9,4,2
44937,35.665,139.71,2013-02-04 18:23:24,Tokyo Metro Chiyoda Line,Omotesando,#00a650,4,2
44938,35.665,139.71,2013-02-04 18:23:24,Tokyo Metro Ginza Line,Omotesando,#f7931d,4,2
44939,35.615,139.72,2013-02-04 18:33:27,Toei Asakusa Line,Togoshi,#ef5ba1,4,2
44940,35.688,139.80,2013-02-04 18:43:54,Toei Oedo Line,Morishita,#b51e82,4,2
44941,35.688,139.80,2013-02-04 18:43:54,Toei Shinjuku Line,Morishita,#6dc067,4,2
44942,35.698,139.71,2013-02-04 18:44:42,Toei Oedo Line,Higashi Shinjuku,#b51e82,4,2
44943,35.655,139.80,2013-02-04 18:56:50,Tokyo Metro Yurakucho Line,Toyosu,#bb8b38,4,2
44944,35.703,139.79,2013-02-04 19:14:29,Toei Asakusa Line,Kuramae,#ef5ba1,4,2
44945,35.703,139.79,2013-02-04 19:14:29,Toei Oedo Line,Kuramae,#b51e82,4,2
44946,35.689,139.70,2013-02-04 19:20:05,Toei Oedo Line,Shinjuku,#b51e82,4,2
44947,35.689,139.70,2013-02-04 19:20:05,Toei Shinjuku Line,Shinjuku,#6dc067,4,2
44948,35.670,139.82,2013-02-04 19:32:41,Tokyo Metro Tozai Line,Toyocho,#00b2dd,4,2
44949,35.730,139.71,2013-02-04 20:31:17,Tokyo Metro Marunouchi Line,Ikebukuro,#ed1c24,4,2
44950,35.730,139.71,2013-02-04 20:31:17,Tokyo Metro Yurakucho Line,Ikebukuro,#bb8b38,4,2